footer {
  left: 0;
  bottom: 0;
  z-index: 100;
}

body:not(.dark-theme) footer {
  color: #333 !important;
  border-top: 1px solid #e0e0e0;
}

body.dark-theme footer {
  color: #e0e0e0 !important;
  border-top: 1px solid #444;
}